
/* --------------------------------------------------------------- */
/* These are styles for elements in the markdown content           */

.markdown p {
    margin: 1rem 0 1rem 0;
}

.markdown h1 {
    margin: 1.8rem 0 1rem 0;
}

.markdown h2 {
    margin: 1.8rem 0 1rem 0;
}

.markdown h3 {
    margin: 1.8rem 0 1rem 0;
}

.markdown h4 {
    margin: 1.8rem 0 1rem 0;
}

.markdown h5 {
    margin: 1.8rem 0 1rem 0;
}

.markdown h6 {
    margin: 1.8rem 0 1rem 0;
}

.markdown pre {
    margin: 1.8rem 0 1rem 0;
}

.markdown figure {
    margin: 1.8rem 0 1rem 0;
}

.markdown blockquote {
    margin-top: 1.2rem;
    margin-bottom: 1.8rem;

    padding-left: 1.42188rem;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;

    font-style: italic;
    line-height: 1.75rem;
    border-left: 0.32813rem solid #cbd5e0; /* text-gray-400 */
    opacity: 0.8;

    color: #718096; /* text-gray-600 */
}

/* Items in a span, in a blockquote will NOT be italic */
.markdown blockquote p span {
    font-style: normal;
}



/* --------------------------------------------------------------- */
/* I took these table styles from GitHub :)                        */

.markdown table {
    display: block;
    width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    overflow: auto;
}

.markdown table td,
.markdown table th {
    padding: 6px 13px;
    border: 1px solid #dfe2e5;
}

.markdown table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1;
}

.markdown table tr:nth-child(2n) {
    background-color: #f6f8fa;
}



/* --------------------------------------------------------------- */
/* --------------------------------------------------------------- */


/* --------------------------------------------------------------- */
/* Site styles */

#main-container {
    margin-left: auto;
    margin-right: auto;

    /* max-width: 45rem; ~-> 720px */
    /* max-width: 650px; */
    max-width: 750px;
}

/* All elements should be this font */
* {
    font-family: 'Crimson Text', serif;
}

/* ... except these elements */
h1, h2, h3, h4, h5, h6, td, th, .sans {
    font-family: 'Source Sans Pro', sans-serif;
}

/* This is a workaround for a <br> in the content markdown files. */
div.br {
    margin: 1.2rem 0 0 0;
    height: 0.2rem;
}



p {
    font-size: 1.4rem;
}

ul, ol, li {
    font-size: 1.3rem;
}

h1 {
    font-size: 2.4rem;
    font-weight: 800;
}

@media (max-width: 640px) {
    h1 { font-size: 2rem; }
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.6rem;
    font-weight: 700;
}

h4 {
    font-size: 1.5rem;
    font-weight: 700;
}

h5 {
    font-size: 1.4rem;
    font-weight: 700;
}

h6 {
    font-size: 1.4rem;
    font-weight: 700;
}



.highlight pre {
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: scroll;
}

.highlight * {
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.highlight pre *::selection {
    background: #282b36;
}

.highlight pre *::-moz-selection {
    background: #282b36;
}



mark {
    background-color: #fffb81;
    padding: 0 0.2rem;
}

code {
    font-size: 0.94rem;
}

p code {
    color: #2d3748;
    background-color: #edf2f7;
    font-size: 0.9rem;
    border-radius: 0.25rem;
    padding: .2rem .4rem;
}

.share-urls a svg {
    width: 1.6rem;
    height: 1.6rem;
    padding: 0.3rem;
}

.markdown a, a.link {
    color: #4c51bf;
    text-decoration: underline;
}

footer p {
    font-size: 1.2rem;
}



.slanted {
    position: relative;
    --slantedRotate: -2deg;
    --slantedScaleX: 0.9;
    --slantedSkew: -25deg;
}

.slanted:hover {
    --slantedRotate: -1deg;
    --slantedScaleX: 1.08;
    --slantedSkew: -25deg;
}

.slanted::before {
    height: 5px;
    position: absolute;
    background: rgba(30, 135, 240, 0.7);
    content: "";
    width: 100%;
    bottom: -2px;
    z-index: -1;
    transition: transform 0.1s ease 0s;
    transform: skew(var(--slantedSkew)) rotate(var(--slantedRotate)) scaleX(var(--slantedScaleX));
}


/* :root {
    --color-primary: #7fe3db;
    --color-secondary: #a5ccdf;
    --color-tertiary: #fac87f;
    --color-lightest: #fff;
    --color-darkest: #000;
}

body {
    background-color: var(--color-darkest);
} */
